@use '../../../../styles/variables' as v;

.profile {
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: v.$gutter;
  border: solid 1px white;
  border-radius: 1em;
  padding: v.$gutter;
  text-align: center;

  &__pic {
    width: 100px;
    border-radius: 50%;
  }
}
