@use '../../../styles/variables' as v;

.header {
  color: v.$color-primary;
  font-family: 'Lato';
  display: flex;
  align-items: center;
  padding: v.$gutter;
  gap: v.$gutter;

  &__title {
    font-size: 4rem;
    font-weight: 400;
  }

  .logo {
    width: 6em;
  }
}
