@use '../../../styles/variables' as v;

.profiles {
  max-width: 700px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: rgb(180, 125, 125);
  padding: v.$gutter;
}
