@use '../../../styles/variables' as v;

.button {
  width: 30%;
  margin: calc(v.$gutter * 0.5) auto;
  margin-top: v.$gutter;
  padding: v.$gutter;
  border-radius: 1.5rem;
  border: none;

  &:hover {
    transition: 0.8s;
    background-color: black;
    color: white;
    cursor: pointer;
  }
}
